body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
}


.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
}

button {
    text-align: center;
    font-size: 40px;
    padding: 20px 5px 20px 5px;
    margin:3px;
    border-radius: 10px;
    flex: 1;
    border: none;
    mix-blend-mode: screen;
    cursor: pointer;
}

button:hover {background-color: #ffaf03}

button:active {
  background-color: #d65206;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.rowFive .zero {
flex: 2 auto;
}
.LCD{
    background-color: rgb(255, 255, 255);
    mix-blend-mode: screen;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 8px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  
}


.display {
   font-size: 35px;
   margin-bottom: 0px;
   margin-top: 0px;
   margin-right: 30px;

}

.previousScreen {
    margin-bottom: 0px;
    margin-right: 30px;
    font-size: 13px;

}

.B div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.by {
font-size: 20px;
color: white;
text-align: center 
}
